
Package: com.devland.tweak
Name: Dev-land
Version: 1.0
Architecture: iphoneos-arm
Description: تـويك احترافي لتطبيق WhatsApp من تطوير Dev-land
Maintainer: Ee3tz
Author: Dev-land Team
Section: Tweaks
